#new-list-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

#list-title {
    width: 80%;
}

#list-description {
    width: 80%;
}

#create-bttn {
    align-self: flex-end;
    position: relative;
    right: 10%;
}